<div class="container">
  <div class="container">

    <%# top page profile section %>
    <div class="profile ">
      <div class="top-buttons-profile">
        <%= link_to "Sign out", destroy_user_session_path, class: "sign-out", data: {turbo_method: :delete} %>
        <% if @user == current_user %>
          <div class="friend btn">
            <%= link_to "Friends", user_invitations_path(@user) %>
          </div>
        <% else %>
          <div class="friend">
            <%= link_to user_invitations_path(current_user) do %>
              <i class="fa-solid fa-arrow-left"></i>
            <% end %>
          </div>
        <% end %>
      </div>

      <%= cl_image_tag @user.photo.key, class: "avatar box06403 mar10", height: 300, width: 400, crop: :fill %>
      <%# profile information: ie name %>
      <div class="profile-info">
        <h2><%= @user.username %></h2>
      </div>
      <% if @user == current_user %>
        <div class="edit-button">
          <%= link_to edit_user_registration_path(@user) do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if @user == current_user %>
      <%= render "users/current_user" %>
    <% else %>
      <%= render "users/friend_profile" %>
    <% end %>

  </div>

  <%= render "shared/navbar" %>

</div>
