<div class="container">
  <div class="image-card">

    <%= link_to event_favourites_add_to_favourites_path(@event) do%>
      <% if @favourite.nil? %>
        <i class="fa-regular fa-heart fa-2xl"></i>
        <% else %>
         <i class="fa-solid fa-heart fa-2xl"></i>
      <% end %>
    <% end %>
    <div class="image-card-text">
      <h1><strong><%= @event.name %></strong></h1>
      <p><%= @event.location %></p>
    </div>
    <div class="image-event">
      <% @event.photos.each do |photo| %>
       <%= cl_image_tag photo.key, height: 390, width: 390, crop: :fill %>
      <% end %>
    </div>
    <div class="text-information">

    <%= social_share_button_tag(@event.name) %>
    <%# <%= render_shareable :buttons=> ['twitter', 'facebook', 'tumblr'] %> %>

    </div>
  </div>
  <div class="lower-container">
    <%= render "bookings/button_new", event: @event  %>
    <div class="event-info pad12 box06403">
     <h2 class="information">Information</h2>
     <p><%= @event.url %></p>
     <p><%= number_to_currency(@event.price_per_person, unit: "£")  %> price per person.</p>
     <p><%= @event.description %></p>
    </div>
    <div class="review-head mar-vert1">
      <h2 class="information">Reviews</h2>
      <%= render "reviews/new" %>
    </div>
    <div class="event-review box06403 pad12">
      <%= render "reviews/show" %>
    </div>
  </div>
</div>
<%= render "shared/navbar" %>
