<div class="friends-page">
  <div class="titlebox">
  <h2>Friends</h2>
    
  </div>
  <%# link to find new friends %>
  <div class="add-container">
    <%= link_to new_user_invitation_path(current_user) do %>
      <%# <i class="fa-solid fa-plus"></i> %>
      <button class="btn btn-color new-friend-btn">Add new friend +</button>
    <% end %>
  </div>

  <%# pending friend requests %>
  <%= render "invitations/requests" %>

  <%# all friends %>
  
  <% @friends.each do |friend| %>
    <div class="friend-card box06403">
      <div class="friend-head">
        <div class="av-friend">
          <%= link_to user_path(friend) do%>
            <%= cl_image_tag friend.photo.key, class: "avatar av-friend pos", height: 300, width: 400, crop: :fill %>
        </div>
          <div class="friend-name"><h2><%= friend.username %></h2></div>
        <% end %>
      </div>
      <%# Delete friend button %>
      <div class="plus">
        <%= link_to  user_invitation_path(current_user, request), class:'', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="bin-friend fa-solid fa-trash-alt"></i>
        <% end %>
      </div>

    </div>
  <% end %>
</div>


<%= render "shared/navbar" %>
