<div class="friends-page">
  <div class="titlebox">

    <%# <div class="title-back"> %>
      <%= link_to user_invitations_path() do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
      <h2>Find New Friends</h2>
    <%# </div> %>
  

    <div class="find-friend">
      <%= form_with url:  new_user_invitation_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a friend"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <% @users.each do |friend| %>
    <div class="friend-card box06403 mar-vert1">
      <div class="friend-head">
        <div class="av-friend">
          <%= link_to user_path(friend) do%>
            <%= cl_image_tag friend.photo.key, class: "avatar av-friend pos", height: 300, width: 400, crop: :fill %>
        </div>
          <div class="friend-name"><h2><%= friend.username %></h2></div>
        <% end %>
      </div>
   
      <%= link_to  user_invitations_path(friend_id: friend), data: { turbo_method: "post" } do %>
        <i class="bin-friend fa-solid fa-plus"></i>
      <% end %>
    </div>
  <% end %>









    </div>

</div>


<%= render "shared/navbar" %>
