<div class="my-review mar-vert1">
  <% @user.reviews.each do |review| %>
  <%# card for each review %>
    <div class="event-review box06403 pad12">
      
      <div class="review-username">
        <%= link_to event_path(review.event) do %>
          <%= review.event.name %>
      </div>
        <%# converts rating into stars %>
       <div class="star-rate">
          <% review.rating.times do  %>
            <i class="fa-solid fa-star"></i>
          <% end %>
       </div>
        <p class="review-text"><%= review.content %></p>
      <% end %>
      <% if review.user == current_user %>
        <%#can edit or delete review%>
        <%= link_to event_review_path(review.event, review),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
          <i class="fa-regular fa-trash-alt"></i>
        <% end %>

        <%# allow edit review %>
        <%= render "reviews/edit", review: review %>
      <% end %>


    </div>
  <% end %>
</div>
